/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 8rem 0;
  text-align: left;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 992px) {
  .heroBanner {
    padding: 4rem;
    font-size: 20px;
  }
}

.buttons {
  display: flex;
  font-size: 20px; 
  align-items: left;
  justify-content: left;
}

.header{
  position: fixed;
}

#content {
  margin-top: 100px;
}